Repository whitebox-co/walmart-marketplace-api: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, eslint --cache --fix, prettier --write, prettier-package-json --write --expand-users

docs: add remaining community docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .markdownlintignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  release.config.js
Due: prettier --write

feat: add WalmartApi to abstract away credentials
  .lintstagedrc.json
  README.md
  src/index.ts
Due: prettier --write

fix: item models were not properly generated
  src/models/v3/mpItems3.2.ts
  src/models/v4/mpItem4.3.ts
  src/models/v4/mpItemMatch.ts
  src/models/v4/mpWfsItem4.2.ts
Due: none

fix: could not have both request and response interceptors, now we just have respone interceptors
  .prettierignore
  package-lock.json
  package.json
  src/apis/items.ts
  src/index.ts
  src/util/interceptors.ts
  tests/integration/apis/auth.spec.ts
  tests/integration/apis/items.spec.ts
  utils/payload-interceptors.ts
Due: prettier-package-json --write --expand-users

fix: integration test template did not contain latest interceptor update
  utils/integration-test-template.ts
Due: none

feat: adding inventory and price schemas and ts definitions
  .markdownlint.json
  README.md
  docs/inventory-schemas/Inventory.json
  docs/inventory-schemas/InventoryFeed.json
  docs/inventory-schemas/InventoryHeader.json
  docs/inventory-schemas/WfsInventory.json
  docs/price-schemas/Price.json
  docs/price-schemas/PriceFeed.json
  docs/price-schemas/PriceHeader.json
  src/models/inventory/v1/inventory.ts
  src/models/inventory/v1/inventoryFeed.ts
  src/models/inventory/v1/inventoryHeader.ts
  src/models/inventory/v1/wfsInventory.ts
  src/models/item/v3/mpItems3.2.ts
  src/models/item/v4/mpItem4.3.ts
  src/models/item/v4/mpItemMatch.ts
  src/models/item/v4/mpWfsItem4.2.ts
  src/models/price/v1/price.ts
  src/models/price/v1/priceFeed.ts
  src/models/price/v1/priceHeader.ts
Due: prettier --write

test: integration test were failing due to interceptor changes
  tests/integration/apis/inventory.spec.ts
  tests/integration/apis/items.spec.ts
  tests/integration/apis/orders.spec.ts
  tests/integration/apis/price.spec.ts
Due: none

fix: autogenerated api was not properly setting "Accept" header for multipart
  src/apis/inventory.ts
  src/apis/price.ts
Due: none

test: completion of solution-provider-use-cases level 1 for inventory
  tests/integration/apis/inventory.spec.ts
Due: none

chore(dependabot): add default reviewers and changed target branch to develop
  .github/dependabot.yml
Due: none

ci: updating develop workflow to trigger on pushes
  .github/workflows/develop.yml
Due: none

docs: updated README.md (#14)
  README.md
Due: prettier --write

docs: fixing markdownlint issues caused by PR #14
  README.md
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  17a823d150045bccb57c870b6ac318197129744a
Due: none

ci: remove integration tests from develop workflow
  .github/workflows/develop.yml
Due: none

feat: adding latest walmart schema and auto generated api changes
  .prettierignore
  docs/schemas/feeds.json
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/notifications.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/price.json
  docs/schemas/promotion.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  docs/schemas/utilities.json
  package.json
  src/apis/auth.ts
  src/apis/base.ts
  src/apis/common.ts
  src/apis/configuration.ts
  src/apis/feeds.ts
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/lagtime.ts
  src/apis/notifications.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/price.ts
  src/apis/promotion.ts
  src/apis/reports.ts
  src/apis/returns.ts
  src/apis/rules.ts
  src/apis/settings.ts
  src/apis/utilities.ts
Due: prettier-package-json --write --expand-users

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  307e1a34a39f39845dbceb612086cc2d7b823568
Due: none

fix: orders shippingUpdates was serializing data before post unecessarily causing errors
  src/apis/orders.ts
Due: none

test: adding level 1 solution-provider-use-cases integration tests for orders
  tests/integration/apis/orders.spec.ts
Due: none

test: add solution-provider-use-cases integratioin tests for price
  tests/integration/apis/inventory.spec.ts
  tests/integration/apis/price.spec.ts
Due: none

test: remove integration tests from generate-apis workflow until completed
  .github/workflows/generate-apis.yml
Due: none

docs: updating contributing, code of conduct, and license info in the readme
  README.md
Due: prettier --write

chore: switch out live-server with another option closes #32
  README.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

test: orders integration tests needed better assertions for failure states
  tests/integration/apis/orders.spec.ts
Due: none

fix: updating npm deps
  package-lock.json
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  2661a039d7039942ecb63301d89d484c42959019
Due: none

feat: add the ability to throttle requests (#18)
  src/util/requestHelpers.ts
  tests/integration/apis/orders.spec.ts
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  f3cbafbf578a42d335aaf18247def98fd43d805a
Due: none

fix: incorrect issue was tagged causing incorrect change log update by semantic release
  CHANGELOG.md
Due: prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  7e5a7d205afe5e889e82c462b9a3594c12408677
Due: none

docs: add seciton on request helpers
  README.md
Due: prettier --write

refactor(requestHelper)!: getAllRecursively now uses requestParams instead of limit
  src/util/requestHelpers.ts
Due: none

refactor(requestHelper)!: getAllRecursively now uses requestParams instead of limit (#45)
  src/util/requestHelpers.ts
Due: none

refactor(requestHelper): getAllRecursively now uses requestParams instead of limit
  README.md
Due: prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Path conditions:
  markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./: any of: *.(js|ts)
  eslint --cache --fix: any of: *.(js|ts)
  prettier --write: any of: *.md
  prettier-package-json --write --expand-users: any of: package.json
