Repository whitebox-co/walmart-marketplace-api: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, eslint --cache --fix, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  3a12f87f957cb11d41f94ab0f5f1864278a46869
Due: none

fix(requestHelper): getAllRecusively was not properly forming recusive requests
  src/util/requestHelpers.ts
Due: none

test(orders): orders integration test had wrong usage of getAllRecusively
  tests/integration/apis/orders.spec.ts
Due: none

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  44e06c6b0a5d2b84886f8088beb36b9f6079c617
Due: none

chore: update auto generated api
  docs/schemas/feeds.json
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/lagtime.json
  docs/schemas/notifications.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/promotion.json
  docs/schemas/reports.json
  docs/schemas/returns.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  docs/schemas/utilities.json
  src/apis/feeds.ts
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/lagtime.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/price.ts
  src/apis/promotion.ts
  src/apis/returns.ts
  src/apis/rules.ts
  src/apis/settings.ts
  src/apis/utilities.ts
Due: none

chore: updating deps based on npm audit fix
  package-lock.json
  package.json
Due: prettier-package-json --write --expand-users

feat: implementing latest walmart schema updates
  README.md
  docs/schemas/feeds.json
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/lagtime.json
  docs/schemas/notifications.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/promotion.json
  docs/schemas/reports.json
  docs/schemas/returns.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  docs/schemas/utilities.json
  src/apis/feeds.ts
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/lagtime.ts
  src/apis/notifications.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/price.ts
  src/apis/promotion.ts
  src/apis/returns.ts
  src/apis/rules.ts
  src/apis/settings.ts
  src/apis/utilities.ts
  tests/integration/apis/items.spec.ts
  tests/integration/apis/orders.spec.ts
Due: prettier --write

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  219e832c2dd2ed3fa926aa1543c93196589519c9
Due: none

fix: package.json was pointing to incorrect type definition, fixes Issue #68
  package.json
Due: prettier-package-json --write --expand-users

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  eb698d024dfb56b1a01302dfcea304c8abafb769
Due: none

chore: update auto generated api
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/notifications.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/price.json
  docs/schemas/promotion.json
  docs/schemas/returns.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/notifications.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/price.ts
  src/apis/promotion.ts
  src/apis/returns.ts
  src/apis/rules.ts
  src/apis/settings.ts
Due: none

docs: fixing a lot of grammatical errors in the README.md
  README.md
Due: prettier --write

ci: update generate action to create pr against develop
  .github/workflows/generate-apis.yml
Due: none

chore: update auto generated api
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/lagtime.json
  docs/schemas/notifications.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/price.json
  docs/schemas/promotion.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  docs/schemas/utilities.json
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/lagtime.ts
  src/apis/notifications.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/price.ts
  src/apis/promotion.ts
  src/apis/rules.ts
  src/apis/settings.ts
  src/apis/utilities.ts
Due: none

feat: implementing latest walmart schema updates
  .github/workflows/generate-apis.yml
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/lagtime.json
  docs/schemas/notifications.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/price.json
  docs/schemas/promotion.json
  docs/schemas/reports.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  docs/schemas/utilities.json
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/lagtime.ts
  src/apis/notifications.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/price.ts
  src/apis/promotion.ts
  src/apis/rules.ts
  src/apis/settings.ts
  src/apis/utilities.ts
Due: none

chore: generating package-lock with latest npm version
  package-lock.json
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  a75e656d498b6ec21831cf1145f42e6861166d02
Due: none

chore(readme): updating maintanence badge for 2022
  README.md
Due: prettier --write

chore: update auto generated api
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/lagtime.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/promotion.json
  docs/schemas/reports.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  docs/schemas/utilities.json
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/lagtime.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/promotion.ts
  src/apis/reports.ts
  src/apis/rules.ts
  src/apis/settings.ts
  src/apis/utilities.ts
Due: none

chore: update auto generated api
  docs/schemas/fulfillment.json
  docs/schemas/insights.json
  docs/schemas/inventory.json
  docs/schemas/items.json
  docs/schemas/onrequestreports.json
  docs/schemas/orders.json
  docs/schemas/promotion.json
  docs/schemas/reports.json
  docs/schemas/rules.json
  docs/schemas/settings.json
  docs/schemas/utilities.json
  src/apis/fulfillment.ts
  src/apis/index.ts
  src/apis/insights.ts
  src/apis/inventory.ts
  src/apis/items.ts
  src/apis/onrequestreports.ts
  src/apis/orders.ts
  src/apis/promotion.ts
  src/apis/reports.ts
  src/apis/rules.ts
  src/apis/settings.ts
  src/apis/utilities.ts
Due: none

fix: node version and peer dependencies update
  .nvmrc
  package-lock.json
  package.json
Due: prettier-package-json --write --expand-users

feat: adding `buffer` dependency so that project can be isomorphic
  README.md
  package-lock.json
  package.json
  src/index.ts
  tests/integration/apis/auth.spec.ts
  tests/integration/apis/inventory.spec.ts
  tests/integration/apis/price.spec.ts
Due: prettier --write, prettier-package-json --write --expand-users

chore: adding `Javascript` to package description
  package.json
Due: prettier-package-json --write --expand-users

chore: adding an integration test to help resolve UNSUPPORTED_MEDIA_TYPE.GMP_ITEM_QUERY_API #157
  tests/integration/apis/items.spec.ts
Due: none

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  13679a776a88f63c12c9d9f7a938a9e67fa02a5f
Due: none

chore: fix jest.config.js to handle new 1.x version of axios
  jest.config.js
  package-lock.json
Due: none

chore: reverting package-lock back to original pr
  package-lock.json
Due: none

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  16eee3b1fd5adaf347dbb2bdd1cd3ad97c402d82
Due: none

chore(deps): upgrading package-lock and removing tslint
  package-lock.json
  package.json
Due: prettier-package-json --write --expand-users

chore(deps): removing unnecessary eslint deps, bumping typedoc
  package-lock.json
  package.json
Due: prettier-package-json --write --expand-users

Path conditions:
  markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./: any of: *.(js|ts)
  eslint --cache --fix: any of: *.(js|ts)
  prettier --write: any of: *.md
  prettier-package-json --write --expand-users: any of: package.json
